LexisNexisWSKImplementation/Web References/LNWebReference/BrowseIndexTerms.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:indexcommon="http://indexcommon.index.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://browseindexterms.index.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://browseindexterms.index.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="IndexCommon.xsd" namespace="http://indexcommon.index.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="BrowseIndexTerms" type="tns:BrowseIndexTerms">
    <annotation>
      <documentation>Allows you to browse indexed search term taxonomies based on the user's
            locale. The index terms are organized as a tree-like structure containing terms
            that may be broken down into narrower terms. Each term has an associated query string
			that can be used in a boolean search to help the user find more relevant information.</documentation>
    </annotation>
  </element>
  <element name="BrowseIndexTermsResponse" type="tns:BrowseIndexTermsResponse">
    <annotation>
      <documentation>Includes information about the requested term in the selected taxonomy.
			</documentation>
    </annotation>
  </element>
  <complexType name="BrowseIndexTerms">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all non-authentication
          requests.  Example: f4348ad8876542bc93748c89fb98a7e</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="indexTermTaxonomyId" type="string">
        <annotation>
          <documentation>An identifier that represents the taxonomy to be browsed.
					termTaxonomyIds can be retrieved through GetIndexTermTaxonomies</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="indexTermId" type="string">
        <annotation>
          <documentation>An identifier that is associated with a particular term in 
          the index term taxonomy. In order to browse the top of the 
          taxonomy, the termId must be excluded.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BrowseIndexTermsResponse">
    <sequence>
      <element name="indexTermList" type="indexcommon:IndexTermList">
        <annotation>
          <documentation>A list of index terms.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>