LexisNexisWSKImplementation/Web References/LNWebReference/BrowseGlobalSourcesAlphabetically.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:globalsourcecommon="http://common.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://browseglobalsourcesalphabetically.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" xmlns:sourcecommon="http://common.source.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://browseglobalsourcesalphabetically.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SourceCommon.xsd" namespace="http://common.source.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="GlobalSourceDirectoryCommon.xsd" namespace="http://common.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" />
  <element name="BrowseGlobalSourcesAlphabetically" type="tns:BrowseGlobalSourcesAlphabetically">
    <annotation>
      <documentation>
            Allows you to browse the source directory hierarchy associated
            with your credentials (as dictated by your menu). The source 
            directory is organized as a tree-like structure containing folders 
            and sources. Since the names of folders and sources can change, 
            folder identifiers and source identifiers are used to maintain 
            persistence. 
         </documentation>
    </annotation>
  </element>
  <element name="BrowseGlobalSourcesAlphabeticallyResponse" type="tns:BrowseGlobalSourcesAlphabeticallyResponse">
    <annotation>
      <documentation>
            Includes information about the requested node in the source 
            hierarchy (i.e. tree).
         </documentation>
    </annotation>
  </element>
  <complexType name="BrowseGlobalSourcesAlphabetically">
    <sequence>
      <element name="locale" type="common:Locale">
        <annotation>
          <documentation>
					Optional locale indicating language of request.
				</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
                  Security token that must be provided on all non-authentication
                  requests.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="includeTypeOfSource" type="boolean">
        <annotation>
          <documentation>
					   If true, it returns the "Type of Source" in Response Source objects.
					   Else, it does not return the "Type of Source" in Response.
                    </documentation>
        </annotation>
      </element>
      <element name="character" type="string">
        <annotation>
          <documentation>
                  The character you wish to filter by (0,A-Z).
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="index" type="integer">
        <annotation>
          <documentation>
                  The starting index.  The sourceList in the response will
                  return sources from index to index + sourcesPerPage - 1.
                  Example 1: If index = 1 and sourcesPerPage = 100, 
                  sources 1-100  will be returned.
                  Example 2: If index = 10 and sourcesPerPage = 10, 
                  sources 10-20  will be returned.
                  If not supplied, index = 1.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="sourcesPerPage" type="integer">
        <annotation>
          <documentation>
                  The number of sources on a "page".  
                  This will be the number of sources returned by this request,
                  and determine which sources appear on the source index list.
                  If not supplied sourcesPerPage = 100.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="intersectionFilterList" type="globalsourcecommon:FilterList">
        <annotation>
          <documentation>
                  List of source filters to use on this request.  The sources
                  returned will be the intersection of the filters provided.
                  If the "United Kingdom" geographic filter and the "Accounting"
                  legal filter are provided, the response will contain only
                  Accounting sources that are in the United Kingdom (and begin
                  with the character provided on this request).
                  Only 3 filters can be used any given request.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="useCSP" type="boolean">
        <annotation>
          <documentation>
                Show Combined Search Pricing combinability rules.
              </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BrowseGlobalSourcesAlphabeticallyResponse">
    <sequence>
      <element name="sourceCount" type="integer">
        <annotation>
          <documentation>
                The number of sources that matched the request criteria.
              </documentation>
        </annotation>
      </element>
      <element name="sourceList" type="sourcecommon:SourceList">
        <annotation>
          <documentation>
                  A (sub) list of sources that matched the request criteria.
               </documentation>
        </annotation>
      </element>
      <element name="sourceIndexList" type="tns:SourceIndexList">
        <annotation>
          <documentation>
         	      A list of source indexes.  This list would allow a user to jump
                to a specific location in the source list.  The index works like
                a phone book, where the first name on the "page" is returned.
         	   </documentation>
        </annotation>
      </element>
      <element name="characterList" type="tns:CharacterList">
        <annotation>
          <documentation>
         	      A list of available/valid characters that can be entered 
                on this operation on susequent requests.
         	   </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceIndexList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="sourceIndex" type="tns:SourceIndex">
        <annotation>
          <documentation>
                  The name and index of a source.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceIndex">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>
                  The name of the source.
               </documentation>
        </annotation>
      </element>
      <element name="index" type="integer">
        <annotation>
          <documentation>
                  The index of the source.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CharacterList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="character" type="tns:Character">
        <annotation>
          <documentation>
                  The characters available to filter by (0,A-Z).
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Character">
    <sequence>
      <element name="character" type="string">
        <annotation>
          <documentation>
                  The value of the character.
               </documentation>
        </annotation>
      </element>
      <element name="available" type="boolean">
        <annotation>
          <documentation>
                  Boolean value that marks the character as available.
                  Characters that are not available may be potentially available
                  if the filters are changed.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>