LexisNexisWSKImplementation/Web References/LNWebReference/Common0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:tns="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://common.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="ProjectId">
    <restriction base="string">
      <maxLength value="32" />
    </restriction>
  </simpleType>
  <complexType name="SourceIdList">
    <sequence>
      <element maxOccurs="unbounded" ref="tns:sourceId">
        <annotation>
          <documentation>Unique identifier for a standard LexisNexis source.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="sourceId" type="integer">
    <annotation>
      <documentation>Unique identifier for a standard LexisNexis source.</documentation>
    </annotation>
  </element>
  <simpleType name="Locale">
    <restriction base="language">
      <enumeration value="en-US" />
      <enumeration value="en-GB" />
      <enumeration value="fr" />
      <enumeration value="de" />
      <enumeration value="en-AU" />
      <enumeration value="en-NZ" />
      <enumeration value="en-CA" />
      <enumeration value="fr-CA" />
    </restriction>
  </simpleType>
  <complexType name="BaseRequest">
    <sequence>
      <element minOccurs="0" default="en-US" name="locale" type="tns:Locale">
        <annotation>
          <documentation>
					  Optional locale indicating language of request.  Used when it is 
                      necessary to distinguish language of certain elements in the request
                      parameters (search terms, source selection, etc.)
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>