LexisNexisWSKImplementation/Web References/LNWebReference/GetGroupSourceMemberNames.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getgroupsourcemembernames.source.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getgroupsourcemembernames.source.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetGroupSourceMemberNames" type="tns:GetGroupSourceMemberNames">
    <annotation>
      <documentation>
				This call is designed to return the members of a group source
                along with with the name of the group source. An indicator 
                called isAGroup will be returned as well. If the source passed 
                in was NOT a group, this will be set to false, and the 
                memberSourceList object will not be populated. The groupSource 
                object will be populated with the CSI and SourceName of the source 
                passed in either way. If the user is not entitled to the source, 
                an SDSNoSourcesEntitled exception will be thrown
			</documentation>
    </annotation>
  </element>
  <element name="GetGroupSourceMemberNamesResponse" type="tns:GetGroupSourceMemberNamesResponse">
    <annotation>
      <documentation>
				Creates a new GetGroupSourceMemberNamesReturn object.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetGroupSourceMemberNames">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all
						non-authentication requests. Example:
						f4348ad8876542bc93748c89fb98a7e
					</documentation>
        </annotation>
      </element>
      <element name="localeDisplayName" type="string">
        <annotation>
          <documentation>
						The resultant string after concatenating
						language country code.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="maxSourceResults" type="integer">
        <annotation>
          <documentation>
						The limit of sources to return.
                        The Default, 0, means no limit.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="sourceId" type="integer">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">7944</example>
						The CSI of the group source.
					</documentation>
        </annotation>
      </element>
      <element name="userInformation" type="tns:UserInformation">
        <annotation>
          <documentation>
						This is a list of packages representing user
						subscriptions and entitlements.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="UserInformation">
    <sequence>
      <element minOccurs="0" name="contentSubscriptionLastChangedDate" type="date">
        <annotation>
          <documentation>
						This is the most recent date that any of the
						data that is stored in the Content Subscription
						changed.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="contentSubscriptionsList" type="tns:ContentSubscriptionsList">
        <annotation>
          <documentation>
						List of ContentSubscription objects.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="lbuID" type="string">
        <annotation>
          <documentation>The LbuID.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="menuList" type="tns:MenuList">
        <annotation>
          <documentation>List of Menu objects.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="packageName" type="string">
        <annotation>
          <documentation>The Package Name.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ContentSubscriptionsList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="contentSubscription" type="tns:ContentSubscription">
        <annotation>
          <documentation>
						Content Subscription is used to store groups of
						content. It will hold information about when the
						users access to specified content will begin and
						end, and how it will be billed and the number of
						users that can access the content at the same
						time.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ContentSubscription">
    <sequence>
      <element minOccurs="0" name="contentTypeId" type="string">
        <annotation>
          <documentation>The Content Type.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="lbuAssignedIdForContentSubscription" type="string">
        <annotation>
          <documentation>
						This is an ID assigned by the LBU for this
						contentsubscription
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>
						This is the name of the Content Subscription.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="promotionalIndicator" type="string">
        <annotation>
          <documentation>
						This tells if the Content Subscription is part
						of a promotion and what type of promotion it is
						a part of.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="promotionalMarketCode" type="string">
        <annotation>
          <documentation>
						The Promotional Market Code.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="sourcePackagesList" type="tns:SourcePackagesList">
        <annotation>
          <documentation>
						a list of SourcePackage objects
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="subscriptionId" type="string">
        <annotation>
          <documentation>
						This is the Web Subscription that this Content
						Subscritpion is tied to.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourcePackagesList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="sourcePackage" type="tns:SourcePackage">
        <annotation>
          <documentation>Source Package.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourcePackage">
    <sequence>
      <element minOccurs="0" name="sourcePackageId" type="string">
        <annotation>
          <documentation>
						This should Either be T for Transactional or S
						for Subscriptional
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MenuList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="menu" type="tns:Menu">
        <annotation>
          <documentation>
						Object containing information about a menu
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Menu">
    <sequence>
      <element minOccurs="0" name="action" type="string">
        <annotation>
          <documentation>
						Returns an Indicator telling if the the webmenu
						is present.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="displayName" type="string">
        <annotation>
          <documentation>The menu display name</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="menuIndicator" type="string">
        <annotation>
          <documentation>
						Returns the menu indicator.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="menuName" type="string">
        <annotation>
          <documentation>The menu name</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="menuType" type="string">
        <annotation>
          <documentation>
						Returns the menu type.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="webName" type="string">
        <annotation>
          <documentation>The web name</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="mergedMenu" type="boolean">
        <annotation>
          <documentation>True = Merged Menu.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetGroupSourceMemberNamesResponse">
    <sequence>
      <element minOccurs="0" name="groupSource" type="tns:SimpleSource">
        <annotation>
          <documentation>This will only be populated if isAGroup is true</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="memberHasTocList" type="tns:MemberHasTocList">
        <annotation>
          <documentation>
						This list of booleans will correspond to the 
                        list of members returned. If the member source 
                        has an associated toc, then the same element of
                        this list will have a value of true. 
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="memberSourceList" type="tns:MemberSourceList">
        <annotation>
          <documentation>
						List of Member SimpleSource objects.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="isAGroup" type="boolean">
        <annotation>
          <documentation>
						  If the csi passed in to this request
                          was not a group CSI then this value
                          will be false
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MemberHasTocList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="MemberHasToc" type="boolean">
        <annotation>
          <documentation>
						 This list of booleans will correspond 
						 to the list of members returned.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MemberSourceList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="memberSource" type="tns:SimpleSource">
        <annotation>
          <documentation>
						Object containing information about a menu
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SimpleSource">
    <sequence>
      <element minOccurs="0" name="csi" type="integer">
        <annotation>
          <documentation>
						Common Source Identifier
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>Name of the source.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>