LexisNexisWSKImplementation/Web References/LNWebReference/GetGlobalSourceFilters.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getglobalsourcefilters.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getglobalsourcefilters.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetGlobalSourceFilters" type="tns:GetGlobalSourceFilters">
    <annotation>
      <documentation>
				Get a list of filters that can be applied to other Global Source Direction
				operations.
			</documentation>
    </annotation>
  </element>
  <element name="GetGlobalSourceFiltersResponse" type="tns:GetGlobalSourceFiltersResponse">
    <annotation>
      <documentation> 
				A list of filters.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetGlobalSourceFilters">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
						Security token that must be provided on all non-authentication requests.
					</documentation>
        </annotation>
      </element>
      <element name="locale" type="common:Locale">
        <annotation>
          <documentation>
						Optional locale indicating language of request.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="globalSourceTaxonomyIdList" type="tns:GlobalSourceTaxonomyIdList">
        <annotation>
          <documentation>
						A list of global source taxonomies for which to return the available
						filters.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetGlobalSourceFiltersResponse">
    <sequence>
      <element name="filterList" type="tns:FilterList">
        <annotation>
          <documentation>
						List of filters, each list can contain sublists since each filter is a node
						in a tree.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GlobalSourceTaxonomyIdList">
    <sequence>
      <element maxOccurs="unbounded" name="globalSourceTaxonomyId" type="string">
        <annotation>
          <documentation>
						A taxonomy ID corresponding to a particular Global Source Directory
						taxonomy.  These values typically come from the GetGlobalSourceTaxonomies
						operation.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FilterList">
    <sequence>
      <element maxOccurs="unbounded" name="filter" type="tns:Filter">
        <annotation>
          <documentation>
						A filter which can be used in subsequent GlobalSource calls to limit
						the results to particular nodes in the various source taxonomies.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Filter">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>
						The name of this particular node.
					</documentation>
        </annotation>
      </element>
      <element name="filterId" type="string">
        <annotation>
          <documentation>
						The filterId that will be used in subsequent WSK operations to filter
						the sources returned.
					</documentation>
        </annotation>
      </element>
      <element name="childCount" type="integer">
        <annotation>
          <documentation>
						The number of child nodes immediately beneath this node.  This defines
						the size of the childFilterList.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="childFilterList" type="tns:FilterList">
        <annotation>
          <documentation>
						The list of child nodes beneath this node.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>