LexisNexisWSKImplementation/Web References/LNWebReference/GetIndexTermTaxonomies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getindextermtaxonomies.index.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getindextermtaxonomies.index.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetIndexTermTaxonomies" type="tns:GetIndexTermTaxonomies">
    <annotation>
      <documentation>Allows a user to retrieve indexing term taxonomies based
			on the user's locale.</documentation>
    </annotation>
  </element>
  <element name="GetIndexTermTaxonomiesResponse" type="tns:GetIndexTermTaxonomiesResponse">
    <annotation>
      <documentation>Returns a list of taxonomies.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetIndexTermTaxonomies">
    <complexContent mixed="false">
      <extension base="common:BaseRequest">
        <sequence>
          <element name="binarySecurityToken" type="security:BinarySecurityToken">
            <annotation>
              <documentation>
								Security token that must be provided on all non-authentication
                  requests.  Example: f4348ad8876542bc93748c89fb98a7e</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GetIndexTermTaxonomiesResponse">
    <sequence>
      <element name="taxonomyList" type="tns:TaxonomyList">
        <annotation>
          <documentation>A list of taxonomies.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TaxonomyList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="taxonomy" type="tns:Taxonomy">
        <annotation>
          <documentation>A taxonomy.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Taxonomy">
    <sequence>
      <element name="taxonomyId" type="string">
        <annotation>
          <documentation>A taxonomyId.  Example: af987...90bc</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>The taxonomy's name.  Example: Geographic</documentation>
        </annotation>
      </element>
      <element name="browsable" type="boolean">
        <annotation>
          <documentation>A flag that indicates whether or not the taxonomy can be browsed with
					the BrowseIndexTerms operation.  Some terms that are not broken down into browsable 
					classifications, but are still obtainable through the SearchIndexTerms operation.  
					Example: true</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>