LexisNexisWSKImplementation/Web References/LNWebReference/GetRetrievableSegments.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getretrievablesegments.retrieve.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getretrievablesegments.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetRetrievableSegments" type="tns:GetRetrievableSegments">
    <annotation>
      <documentation>
				Allows a client to retrieve a list of retrievable segments for a given searchId.
			</documentation>
    </annotation>
  </element>
  <element name="GetRetrievableSegmentsResponse" type="tns:GetRetrievableSegmentsResponse">
    <annotation>
      <documentation>
				Returns the segments requested by the client.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetRetrievableSegments">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all authenticated requests.
					</documentation>
        </annotation>
      </element>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
						Identifier that refers to all pertinent information related to the original search.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetRetrievableSegmentsResponse">
    <sequence>
      <element name="segmentList" type="tns:SegmentList">
        <annotation>
          <documentation>
						The list of segments requested by the client.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SegmentList">
    <sequence>
      <element maxOccurs="unbounded" name="segment" type="tns:Segment">
        <annotation>
          <documentation>
						A single segment.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Segment">
    <sequence>
      <element name="segmentName" type="string">
        <annotation>
          <documentation>
						The name of a single segment.
					</documentation>
        </annotation>
      </element>
      <element name="segmentType" type="tns:SegmentType">
        <annotation>
          <documentation>
						The type of a single segment.
					</documentation>
        </annotation>
      </element>
      <element name="isCommon" type="boolean">
        <annotation>
          <documentation>
						Indicates whether this segment is common across all documents' databases.
						If a segment is common, it could occur in all documents in the supplied
						answer set.  If a segment is non-common, at least some documents in the
						answer set lack the ability to contain the segment.
					</documentation>
        </annotation>
      </element>
      <element name="isPopular" type="boolean">
        <annotation>
          <documentation>
						Indicates whether or not this segment is deemed popular.  This could prove
						useful in helping a customer determine which segments to include in
						documents when retrieving.
					</documentation>
        </annotation>
      </element>
      <element name="isMandatory" type="boolean">
        <annotation>
          <documentation>
						Indicates whether or not this segment is mandatory.  Mandatory segments
						will be included in custom view documents, regardless of whether or not
						the segment name is explicitly requested.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SegmentType">
    <restriction base="string">
      <enumeration value="TextSegment" />
      <enumeration value="DateSegment" />
      <enumeration value="NumericSegment" />
    </restriction>
  </simpleType>
</schema>