LexisNexisWSKImplementation/Web References/LNWebReference/GetRelatedTOCIds.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getrelatedtocids.tableofcontents.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getrelatedtocids.tableofcontents.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetRelatedTOCIds" type="tns:GetRelatedTOCIds">
    <annotation>
      <documentation>Request for the client application to obtain
      the list of related table of contents identifiers (toc ids) 
      for the source indicated by the source id.</documentation>
    </annotation>
  </element>
  <element name="GetRelatedTOCIdsResponse" type="tns:GetRelatedTOCIdsResponse">
    <annotation>
      <documentation>Related table of contents identifier response
      returned to the client application.</documentation>
    </annotation>
  </element>
  <complexType name="GetRelatedTOCIds">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>Indicates language of request.</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example> 
          Security token that must be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
      <element name="sourceId" type="integer">
        <annotation>
          <documentation>Identifier of the source for which the related table 
          of contents identifiers are being requested.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetRelatedTOCIdsResponse">
    <sequence>
      <element name="RelatedTOCIdInfoList" type="tns:RelatedTOCIdInfoList">
        <annotation>
          <documentation>List of related table of contents identifier 
          information.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RelatedTOCIdInfoList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="RelatedTOCIdInfo" type="tns:RelatedTOCIdInfo">
        <annotation>
          <documentation>Related table of contents identifier information, including
          TOC id, related TOC/Index type indicator, etc.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RelatedTOCIdInfo">
    <sequence>
      <element name="tocId" type="string">
        <annotation>
          <documentation>The table of contents identifier.  Used as input
          in table of contents navigation.</documentation>
        </annotation>
      </element>
      <element name="displayLabel" type="string">
        <annotation>
          <documentation>Display text indicating the nature of the related TOC.
          <examples xmlns="http://www.w3.org/2001/XMLSchema">"Index", "Bulletin", "Index and Tables"</examples></documentation>
        </annotation>
      </element>
      <element name="relatedTocType" type="tns:RelatedTOCType">
        <annotation>
          <documentation>Indicates the type of this related TOC.</documentation>
        </annotation>
      </element>
      <element name="preferredToc" type="boolean">
        <annotation>
          <documentation>Indicates whether or not this related TOC is the 
          preferred ("main") table of contents.</documentation>
        </annotation>
      </element>
      <element name="displayableWithDocument" type="boolean">
        <annotation>
          <documentation>Indicates whether or not this related TOC should have
          the capability of being displayed when viewing a source document.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="RelatedTOCType">
    <restriction base="string">
      <enumeration value="TableOfContents" />
      <enumeration value="Index" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
</schema>