LexisNexisWSKImplementation/Web References/LNWebReference/GlobalSourceDirectoryCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:tns="http://common.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://common.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="FilterList">
    <sequence>
      <element maxOccurs="7" name="unionFilter" type="tns:Filter">
        <annotation>
          <documentation>
						Sets the parameters of this particular filter (a list of filterIds).  Within
						each filter, the list of filterIds will be combined using a logical OR, or
						union, so that results will match this filter if any filterId is matched.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Filter">
    <sequence>
      <element name="filterIdList" type="tns:FilterIdList">
        <annotation>
          <documentation>
						Encapsulates a list of filterIds, used in the
						GlobalSourceDirectory operations.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FilterIdList">
    <sequence>
      <element maxOccurs="unbounded" name="filterId" type="string">
        <annotation>
          <documentation>
						A filterId is a token used to identify a particular GlobalSourceDirectory
						filter.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>