LexisNexisWSKImplementation/Web References/LNWebReference/ModifySavedSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:search="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://modifysavedsearch.savedsearch.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://modifysavedsearch.savedsearch.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SavedSearchCommon.xsd" namespace="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="ModifySavedSearch" type="tns:ModifySavedSearch">
    <annotation>
      <documentation>
            Allows a user agent to modify a previously saved search, effectively
			associating their existing savedSearchId with new search criteria.
         </documentation>
    </annotation>
  </element>
  <element name="ModifySavedSearchResponse" type="tns:ModifySavedSearchResponse">
    <annotation>
      <documentation>
            An empty response element that indicates success.
         </documentation>
    </annotation>
  </element>
  <complexType name="ModifySavedSearch">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
                  Security token that must be provided on all authenticated 
                  requests.
               </documentation>
        </annotation>
      </element>
      <element name="savedSearchId" type="integer">
        <annotation>
          <documentation>
                  The savedSearchId that can be used in future requests to reference
				  this saved search.
               </documentation>
        </annotation>
      </element>
      <element name="name" type="common:SavedSearchName">
        <annotation>
          <documentation>
                  A name to be associated with the saved search.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="description" type="string">
        <annotation>
          <documentation>
                  A description to be associated with the saved search.
               </documentation>
        </annotation>
      </element>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
                  The searchId associated with a previously executed WSAPI search.
				  The search criteria associated with this searchId will be saved.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ModifySavedSearchResponse" />
</schema>