LexisNexisWSKImplementation/Web References/LNWebReference/NavigateTOC.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:toccommon="http://common.tableofcontents.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://navigatetoc.tableofcontents.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://navigatetoc.tableofcontents.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="TOCCommon.xsd" namespace="http://common.tableofcontents.services.v1.wsapi.lexisnexis.com" />
  <element name="NavigateTOC" type="tns:NavigateTOC">
    <annotation>
      <documentation>Request for the client application to navigate 
      the table of contents (TOC) or index for a source.</documentation>
    </annotation>
  </element>
  <element name="NavigateTOCResponse" type="toccommon:TOCResponse">
    <annotation>
      <documentation>TOC response sent to the client application.  
      </documentation>
    </annotation>
  </element>
  <complexType name="NavigateTOC">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>Indicates language of request.</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>f4348ad8876542bc93748c89fb98a7e Security token that must
          be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
      <element name="navigationType" type="tns:NavigationType">
        <annotation>
          <documentation>Enumeration for determining the nodes to be retrieved
          in the TOC response.</documentation>
        </annotation>
      </element>
      <element name="tocSourceInformation" type="tns:TOCSourceInformation">
        <annotation>
          <documentation>Identifier for the source for which the TOC taxonomy is 
          being requested.  Can either be a sourceId for requesting the "main"
          TOC, or can be the tocTaxonomyId for requesting a related TOC, index,
          or other TOC-implemented related taxonomy.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="tocNodeId" type="string">
        <annotation>
          <documentation>Optional identifier for a TOC node.  Unique within the TOC.
          Must be provided when navigationType is ChildNodes or AncestryNodes.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TOCSourceInformation">
    <sequence>
      <element minOccurs="0" name="sourceId" type="integer">
        <annotation>
          <documentation>Identifier for the source for which the TOC is being requested.
          Mutually exclusive of tocTaxonomyId.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="tocId" type="string">
        <annotation>
          <documentation>Identifier for the "related" source for which the TOC is being
          requested.  Mutually exclusive of sourceId.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="NavigationType">
    <annotation>
      <documentation>Enumeration for determining the type of node set
      to return in the response.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="TopLevelNodes">
        <annotation>
          <documentation>Disregard the node id on the request and return 
          the list of top level nodes for this TOC.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ChildNodes">
        <annotation>
          <documentation>Return child nodes of selected node.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AncestryNodes">
        <annotation>
          <documentation>Return all nodes in ancestry of selected node from the
          top level down, including the node id included in the request.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>