LexisNexisWSKImplementation/Web References/LNWebReference/ReportDocumentUse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://reportdocumentuse.retrieval.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://reportdocumentuse.retrieval.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="ReportDocumentUse" type="tns:ReportDocumentUse">
    <annotation>
      <documentation>Encloses the ReportDocument request parameters.</documentation>
    </annotation>
  </element>
  <element name="ReportDocumentUseResponse" type="tns:ReportDocumentUseResponse">
    <annotation>
      <documentation>Encloses the ReportDocument response parameters.</documentation>
    </annotation>
  </element>
  <complexType name="ReportDocumentUse">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">e7f6ab66b6cc6a8748389ab987c98f89e7f</example>Security token that must be provided on all non-authentication
                         requests.</documentation>
        </annotation>
      </element>
      <element name="DocumentRecordList" type="tns:DocumentRecordList">
        <annotation>
          <documentation>A list of document usage records to report.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentRecordList">
    <sequence>
      <element maxOccurs="unbounded" name="DocumentRecord" type="tns:DocumentRecord">
        <annotation>
          <documentation>A document record.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentRecord">
    <sequence>
      <element name="documentToken" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">826fac5efe990afb2ce86db47864cd4e6374f04ee38b32b7d024d24d83089cc30ca0afbe46172ed49e9cda5a01610b90e30689cb5f99ab14859ada18163083bc6d2695d890debd5fbf369aa67811dee60e28f81a8e34858c4ef557290a5d461a224dd14a0fa863f1b1a7a51838497c577c0524830f833d90a0ef1241cac4dd8864db6cfca6367180eb6fda1acc98c116</example>The document's royalty token.  This is the document token attribute
				  found in the doc element of documents retrieved through LNDA.</documentation>
        </annotation>
      </element>
      <element name="numberOfAccesses" type="integer">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">25</example>The number of times that the document has been accessed.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ReportDocumentUseResponse">
    <sequence>
      <element minOccurs="0" name="UnreportedDocumentRecordList" type="tns:UnreportedDocumentRecordList">
        <annotation>
          <documentation>A list of unreported document records.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="UnreportedDocumentRecordList">
    <sequence>
      <element maxOccurs="unbounded" name="UnreportedDocumentRecord" type="tns:UnreportedDocumentRecord">
        <annotation>
          <documentation>An unreported document record.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="UnreportedDocumentRecord">
    <sequence>
      <element name="documentToken" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">826fac5efe990afb2ce86db47864cd4e6374f04ee38b32b7d024d24d83089cc30ca0afbe46172ed49e9cda5a01610b90e30689cb5f99ab14859ada18163083bc6d2695d890debd5fbf369aa67811dee60e28f81a8e34858c4ef557290a5d461a224dd14a0fa863f1b1a7a51838497c577c0524830f833d90a0ef1241cac4dd8864db6cfca6367180eb6fda1acc98c116</example>The document's royalty token.  This is the document token attribute
				  found in the doc element of documents retrieved through LNDA.</documentation>
        </annotation>
      </element>
      <element name="numberOfAccesses" type="integer">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">25</example>The number of times that the document has been accessed.</documentation>
        </annotation>
      </element>
      <element name="reasonForFailure" type="result:ReportFailureReason">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">Invalid Document Token</example>The reason document usage was not reported.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>