LexisNexisWSKImplementation/Web References/LNWebReference/Result0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:tns="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://result.common.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="RetrievalResponse">
    <sequence>
      <element minOccurs="1" name="documentContainerList" type="tns:DocumentContainerList">
        <annotation>
          <documentation>List of document containers (documents and metadata).</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchResponse">
    <complexContent mixed="false">
      <extension base="tns:RetrievalResponse">
        <sequence>
          <element minOccurs="0" name="searchId" type="string">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">ef5bafbd11</example>Unique identifier that maintains all pertinent information
                 from the original search.</documentation>
            </annotation>
          </element>
          <element name="documentsFound" type="tns:DocumentsFound">
            <annotation>
              <documentation>The number of retrievable documents found by the search request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totalDocumentsFound" type="tns:TotalDocumentsFound">
            <annotation>
              <documentation>The total number of documents found by search request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diagnosticList" type="tns:DiagnosticList">
            <annotation>
              <documentation>The list of diagnostics returned from the request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="isSavable" type="boolean">
            <annotation>
              <documentation>If useCSP was set on the request, isSaveable will
                            return with a true or false if the search can be
                            saved via SaveSearch or ModifySavedSearch.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="continueId" type="string">
            <annotation>
              <documentation>The continue Id will be returned if a "WithContinue"
                            search type was used and the search was too general
                            for normal processing.  To contine the search, add
                            the continueId on the exact same search request that
                            was previously executed.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LegalSearchResponse">
    <complexContent mixed="false">
      <extension base="tns:RetrievalResponse">
        <sequence>
          <element minOccurs="0" name="searchId" type="string">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">ef5bafbd11</example>Unique identifier that maintains all pertinent information
                  from the original search.</documentation>
            </annotation>
          </element>
          <element name="documentsFound" type="tns:DocumentsFound">
            <annotation>
              <documentation>The number of retrievable documents found by the search request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="totalDocumentsFound" type="tns:TotalDocumentsFound">
            <annotation>
              <documentation>The total number of documents found by search request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="diagnosticList" type="tns:DiagnosticList">
            <annotation>
              <documentation>The list of diagnostics returned from the request.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="isSavable" type="boolean">
            <annotation>
              <documentation>If useCSP was set on the request, isSaveable will
                             return with a true or false if the search can be
                             saved via SaveSearch or ModifySavedSearch.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="continueId" type="string">
            <annotation>
              <documentation>The continue Id will be returned if a "WithContinue"
                             search type was used and the search was too general
                             for normal processing.  To contine the search, add
                             the continueId on the exact same search request that
                             was previously executed.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sortKeys" type="tns:sortKeyList">
            <annotation>
              <documentation>List of all the alternative names used by this company.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="currentSortKeyIndicator" type="string">
            <annotation>
              <documentation />
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="sortKeyList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="sortKey" type="tns:SortKey">
        <annotation>
          <documentation>This will contain a list of SortKeys. 
                                   Each SortKey will have sortKeyDisplayName and sortKeyValue.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SortKey">
    <sequence>
      <element name="sortKeyDisplayName" type="string">
        <annotation>
          <documentation>Sort Key Display Name.</documentation>
        </annotation>
      </element>
      <element name="sortKeyValue" type="string">
        <annotation>
          <documentation>Sortkey value.</documentation>
        </annotation>
      </element>
      <element name="ffbName" type="string">
        <annotation>
          <documentation>Sortkey value.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="DocumentsFound">
    <restriction base="nonNegativeInteger">
      <maxInclusive value="65000" />
    </restriction>
  </simpleType>
  <simpleType name="TotalDocumentsFound">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <complexType name="DiagnosticList">
    <sequence>
      <element maxOccurs="unbounded" name="diagnostic" type="tns:Diagnostic">
        <annotation>
          <documentation>The list of diagnostics returned from the request.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Diagnostic">
    <sequence>
      <element name="code" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">DIAG_CORRECTED_QUERY</example>The unique code identifying the type of diagnostic.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="rationaleList" type="tns:RationaleList">
        <annotation>
          <documentation>The list of rationales associated with each 
                  individual diagnostic.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RationaleList">
    <sequence>
      <element maxOccurs="unbounded" name="rationale" type="tns:Rationale">
        <annotation>
          <documentation>A brief explanation or reasoning associated with a diagnostic.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Rationale">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">CorrectedQueryDiag</example>The name of the rationale.</documentation>
        </annotation>
      </element>
      <element name="message" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">CATS AND DOGS AND DATE IS 2004</example>The message associated with this rationale.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentContainerList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="documentContainer" type="tns:DocumentContainer">
        <annotation>
          <documentation>A structure that encapsulates a document, and metadata about that document.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentContainer">
    <sequence>
      <element name="documentId" type="string">
        <annotation>
          <documentation>An identifier associated with a single LexisNexis document.</documentation>
        </annotation>
      </element>
      <element name="document" type="base64Binary">
        <annotation>
          <documentation>The text of a single LexisNexis document.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentVersionList" type="tns:DocumentVersionList">
        <annotation>
          <documentation />
        </annotation>
      </element>
      <element minOccurs="0" name="sourceContextInfo" type="tns:SourceContextInfo">
        <annotation>
          <documentation />
        </annotation>
      </element>
      <element minOccurs="0" name="shepardsSignal" type="tns:ShepardsSignal" />
    </sequence>
  </complexType>
  <simpleType name="SortOrder">
    <restriction base="string">
      <enumeration value="Implied" />
      <enumeration value="Relevance" />
      <enumeration value="Date" />
    </restriction>
  </simpleType>
  <simpleType name="LegalSortOrder">
    <restriction base="string">
      <enumeration value="SourceOrder" />
      <enumeration value="Relevance" />
      <enumeration value="appDefnSortOrder" />
    </restriction>
  </simpleType>
  <complexType name="SubSortOrder">
    <sequence>
      <element minOccurs="0" name="appDefSubSortOrder" type="string" />
    </sequence>
  </complexType>
  <complexType name="DocumentFormatOptions">
    <sequence>
      <element minOccurs="0" name="documentView" type="tns:DocumentView">
        <annotation>
          <documentation>Defines the particular view (full text, etc.) in which documents are to be retrieved.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentMarkup" type="tns:DocumentMarkup">
        <annotation>
          <documentation>Defines the particular markup in which documents are to be retrieved.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ShepardsSignal">
    <sequence>
      <element name="signalType" type="tns:SignalType">
        <annotation>
          <documentation>An enumerated indicator for the Shepard Signal type.</documentation>
        </annotation>
      </element>
      <element name="signalText" type="string">
        <annotation>
          <documentation>The text of the signal.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SignalType">
    <restriction base="string">
      <enumeration value="SIGNAL_BLUE" />
      <enumeration value="SIGNAL_GREEN" />
      <enumeration value="SIGNAL_LIGHT_BLUE" />
      <enumeration value="SIGNAL_NULL" />
      <enumeration value="SIGNAL_RED" />
      <enumeration value="SIGNAL_UNAVAILABLE" />
      <enumeration value="SIGNAL_YELLOW" />
      <enumeration value="SIGNAL_ORANGE" />
      <enumeration value="UNKNOWN" />
    </restriction>
  </simpleType>
  <complexType name="CitationDocumentFormatOptions">
    <sequence>
      <element minOccurs="0" name="documentView" type="tns:CitationDocumentView">
        <annotation>
          <documentation>Defines the particular view (full text, dynamic, etc.) in which citation documents are to be retrieved.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentMarkup" type="tns:DocumentMarkup">
        <annotation>
          <documentation>Defines the particular markup in which documents are to be retrieved.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrievalOptions">
    <complexContent mixed="false">
      <extension base="tns:DocumentFormatOptions">
        <sequence>
          <element name="documentRange" type="tns:Range">
            <annotation>
              <documentation>Defines the range of documents to be retrieved.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="includeExtendedOutput" type="boolean">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="includeShepardsSignals" type="boolean">
            <annotation>
              <documentation>Allows the retrieval of Shepard's Signals.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Range">
    <sequence>
      <element name="begin" type="integer">
        <annotation>
          <documentation>The begin index for this range.</documentation>
        </annotation>
      </element>
      <element name="end" type="integer">
        <annotation>
          <documentation>The end index for this range.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentVersionList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="documentVersion" type="tns:DocumentVersion">
        <annotation>
          <documentation>Document version information.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DocumentVersion">
    <sequence>
      <element name="documentId" type="string">
        <annotation>
          <documentation>An identifier associated with a single LexisNexis document.</documentation>
        </annotation>
      </element>
      <element name="documentTitle" type="string">
        <annotation>
          <documentation>The title of the document version.</documentation>
        </annotation>
      </element>
      <element name="documentVersionIndicator" type="tns:DocumentVersionIndicator">
        <annotation>
          <documentation>Indicates the "current-ness" of
          							the document version.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="effectiveFromDate" type="date">
        <annotation>
          <documentation>Effective starting date for this document
          							to be the "current" version.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="effectiveToDate" type="date">
        <annotation>
          <documentation>Effective ending date for this document
          							to be the "current" version.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceContextInfo">
    <sequence>
      <element name="nextIsRelevant" type="boolean">
        <annotation>
          <documentation>An flag that indicates that calling GetAdjacentDocument (Next)
						on this document id will return a relevant document.
						(The next document is not the start of a new subject/document group.)</documentation>
        </annotation>
      </element>
      <element name="previousIsRelevant" type="boolean">
        <annotation>
          <documentation>An flag that indicates that calling GetAdjacentDocument (Previous)
						on this document id will return a relevant document.
						(The previous document is not the end of the last subject/document group.)</documentation>
        </annotation>
      </element>
      <element name="sourceId" type="integer">
        <annotation>
          <documentation>Unique identifier for a standard LexisNexis source.</documentation>
        </annotation>
      </element>
      <element name="sourceContextId" type="string">
        <annotation>
          <documentation>Represents the "point of reference" of this document in the source.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="DocumentVersionIndicator">
    <restriction base="string">
      <enumeration value="Past" />
      <enumeration value="Current" />
      <enumeration value="Future" />
      <enumeration value="NonCurrent">
        <annotation>
          <documentation>Indicates that the "current-ness" of the 
      		document cannot be determined from the supplied version
      		information.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DocumentView">
    <restriction base="string">
      <enumeration value="Cite" />
      <enumeration value="ExpandedCite" />
      <enumeration value="SearchHitsInContext" />
      <enumeration value="FullText" />
      <enumeration value="FullTextWithTerms" />
      <enumeration value="Dynamic" />
    </restriction>
  </simpleType>
  <simpleType name="CitationDocumentView">
    <restriction base="string">
      <enumeration value="Cite" />
      <enumeration value="ExpandedCite" />
      <enumeration value="SearchHitsInContext" />
      <enumeration value="FullText" />
      <enumeration value="FullTextWithTerms" />
      <enumeration value="Dynamic" />
    </restriction>
  </simpleType>
  <simpleType name="DocumentMarkup">
    <restriction base="string">
      <enumeration value="Display" />
      <enumeration value="Semantic" />
    </restriction>
  </simpleType>
  <simpleType name="ReportFailureReason">
    <restriction base="string">
      <enumeration value="InvalidDocumentToken" />
      <enumeration value="InvalidNumberOfAccesses" />
      <enumeration value="Unknown" />
    </restriction>
  </simpleType>
</schema>