LexisNexisWSKImplementation/Web References/LNWebReference/RetrieveCorporateHierarchy.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://retrievecorporatehierarchy.dossier.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://retrievecorporatehierarchy.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="../Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <element name="RetrieveCorporateHierarchy" type="tns:RetrieveCorporateHierarchy">
    <annotation>
      <documentation>RetrieveCorporateHierarchy request element.</documentation>
    </annotation>
  </element>
  <element name="RetrieveCorporateHierarchyResponse" type="tns:RetrieveCorporateHierarchyResponse">
    <annotation>
      <documentation>RetrieveCorporateHierarchy response element.</documentation>
    </annotation>
  </element>
  <complexType name="RetrieveCorporateHierarchy">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
      <element name="dossierId" type="string">
        <annotation>
          <documentation>The company to browse the corporate hierarchy of.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrieveCorporateHierarchyResponse">
    <sequence>
      <element name="copyright" type="string">
        <annotation>
          <documentation>Copyright information for this hierarchy.</documentation>
        </annotation>
      </element>
      <element name="lastUpdatedDate" type="dateTime">
        <annotation>
          <documentation>Date that this hierarchy was last updated in the LexisNexis system.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="dossierLinkId" type="string">
        <annotation>
          <documentation>A link to the source information about the corporate hierarchy.</documentation>
        </annotation>
      </element>
      <element name="corporateEntity" type="tns:CorporateEntity">
        <annotation>
          <documentation>The corporate entity associated with the companyId in the request.  This entity could contain other corporate entities.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CorporateEntity">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>The name of the corporate entity.</documentation>
        </annotation>
      </element>
      <element name="location" type="string">
        <annotation>
          <documentation>The location of the corporate entity.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="dossierId" type="string">
        <annotation>
          <documentation>The corporate entity's dossier Id.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="corporateEntityList" type="tns:CorporateEntityList">
        <annotation>
          <documentation>A list of corporate entities within this corporate entity.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CorporateEntityList">
    <sequence>
      <element maxOccurs="unbounded" name="corporateEntity" type="tns:CorporateEntity">
        <annotation>
          <documentation>A Corporate Entity</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>