LexisNexisWSKImplementation/Web References/LNWebReference/RetrieveDossierTaxonomy.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://retrievedossiertaxonomy.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://retrievedossiertaxonomy.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="RetrieveDossierTaxonomy" type="tns:RetrieveDossierTaxonomy">
    <annotation>
      <documentation>Retrieve a dossier taxonomy to present to the user to form
                     search terms in a dossier search.</documentation>
    </annotation>
  </element>
  <element name="RetrieveDossierTaxonomyResponse" type="tns:RetrieveDossierTaxonomyResponse">
    <annotation>
      <documentation>Returns taxonomy of search values.</documentation>
    </annotation>
  </element>
  <complexType name="RetrieveDossierTaxonomy">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="dossierTaxonomy" type="tns:DossierTaxonomyType">
        <annotation>
          <documentation>A dossier taxonomy to return.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrieveDossierTaxonomyResponse">
    <sequence>
      <element name="dossierTaxonomyNode" type="tns:DossierTaxonomyNode">
        <annotation>
          <documentation>The number of companies found that match the search criteria.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DossierTaxonomyNode">
    <sequence>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>The name of the node.</documentation>
        </annotation>
      </element>
      <element name="key" type="string">
        <annotation>
          <documentation>The search key for the node.</documentation>
        </annotation>
      </element>
      <element name="childNodes" type="tns:DossierTaxonomyNodeList">
        <annotation>
          <documentation>A list of child nodes.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DossierTaxonomyNodeList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="dossierTaxonomyNode" type="tns:DossierTaxonomyNode">
        <annotation>
          <documentation>A Dossier Taxonomoy node.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="DossierTaxonomyType">
    <restriction base="string">
      <enumeration value="ExecutiveFunction" />
      <enumeration value="ExecutiveSpecialty" />
    </restriction>
  </simpleType>
</schema>