LexisNexisWSKImplementation/Web References/LNWebReference/SearchIndustryDossierWithResultHierarchy.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:dossiercommon="http://common.dossier.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://searchindustrydossierwithresulthierarchy.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchindustrydossierwithresulthierarchy.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="DossierCommon.xsd" namespace="http://common.dossier.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchIndustryDossierWithResultHierarchy" type="tns:SearchIndustryDossierWithResultHierarchy">
    <annotation>
      <documentation>Search for an industry and show hits in the industry hierarchy.</documentation>
    </annotation>
  </element>
  <element name="SearchIndustryDossierWithResultHierarchyResponse" type="tns:SearchIndustryDossierWithResultHierarchyResponse">
    <annotation>
      <documentation>Returns the industries found in Industry Dossier with 
			context to where the search hits are in the industry hierarchy.</documentation>
    </annotation>
  </element>
  <complexType name="SearchIndustryDossierWithResultHierarchy">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="query" type="string">
        <annotation>
          <documentation>A query to locate a company.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="industryClassification" type="dossiercommon:IndustryClassification">
        <annotation>
          <documentation>Type of classification you want to browse, SIC or NAICS.  SIC is used by default.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchIndustryDossierWithResultHierarchyResponse">
    <sequence>
      <element name="documentsFound" type="integer">
        <annotation>
          <documentation>The number of industries found that match the search criteria.</documentation>
        </annotation>
      </element>
      <element name="industryHierarchy" type="tns:IndustryList">
        <annotation>
          <documentation>A list of industries that match the input query.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IndustryList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="industry" type="tns:Industry">
        <annotation>
          <documentation>Industry information</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Industry">
    <sequence>
      <element minOccurs="0" name="dossierId" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a company in Company Dossier.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="industryNodeId" type="string">
        <annotation>
          <documentation>The id used to browse deeper into the industry hierarchy.  Mutually exclusive of SIC.</documentation>
        </annotation>
      </element>
      <element name="description" type="string">
        <annotation>
          <documentation>A description of the industry.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="sic" type="string">
        <annotation>
          <documentation>The SIC code associated with this industry.
					Does not appear if IndustryClassification in the request was set to NAICS.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="naics" type="string">
        <annotation>
          <documentation>The NAICS code for the industry.  Mutually exclusive of industryNodeId.  
					Only returned if IndustryClassification in the request was set to NAICS.</documentation>
        </annotation>
      </element>
      <element name="searchHit" type="boolean">
        <annotation>
          <documentation>Returns true if the search matched this industry.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="subIndustries" type="tns:IndustryList">
        <annotation>
          <documentation>A breakdown of this industry into sub industries.
					(List may be empty if no sub industries are present.)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>