LexisNexisWSKImplementation/Web References/LNWebReference/SourceContextResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:tns="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="SourceContextRetrievalResponse">
    <sequence>
      <element minOccurs="1" name="sourceContextDocumentList" type="tns:SourceContextDocumentList">
        <annotation>
          <documentation>
         			List of document containers (documents and metadata).
         		</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceContextDocumentList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="sourceContextDocument" type="tns:SourceContextDocument">
        <annotation>
          <documentation>
						A structure that encapsulates a document, and metadata about that document.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceContextDocument">
    <sequence>
      <element name="sourceContextId" type="string">
        <annotation>
          <documentation>
						Represents the "point of reference" of this document in the source.
					</documentation>
        </annotation>
      </element>
      <element name="nextIsRelevant" type="boolean">
        <annotation>
          <documentation>
						An flag that indicates that calling GetAdjacentDocument (Next)
						on this document id will return a relevant document.
						(The next document is not the start of a new subject/document group.)
					</documentation>
        </annotation>
      </element>
      <element name="previousIsRelevant" type="boolean">
        <annotation>
          <documentation>
						An flag that indicates that calling GetAdjacentDocument (Previous)
						on this document id will return a relevant document.
						(The previous document is not the end of the last subject/document group.)
					</documentation>
        </annotation>
      </element>
      <element name="document" type="base64Binary">
        <annotation>
          <documentation>
						The text of a single LexisNexis document.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>