LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/CreateDossierLinkId.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:commondossier="http://common.dossier.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://createdossierlinkid.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://createdossierlinkid.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="DossierCommon.xsd" namespace="http://common.dossier.services.v1.wsapi.lexisnexis.com" />
  <element name="CreateDossierLinkId" type="tns:CreateDossierLinkId">
    <annotation>
      <documentation>Create a Dossier Link Id.</documentation>
    </annotation>
  </element>
  <element name="CreateDossierLinkIdResponse" type="tns:CreateDossierLinkIdResponse">
    <annotation>
      <documentation>Returns the companies found when searching Company Dossier.</documentation>
    </annotation>
  </element>
  <complexType name="CreateDossierLinkId">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="attributeNameValueList" type="tns:AttributeNameValueList">
        <annotation>
          <documentation>A list of name-value pairs to construct the link from.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="dossierType" type="commondossier:DossierType">
        <annotation>
          <documentation>
					The type of dossier that corresponds with the dossier id used in this call.
					Currently, only ExecutiveDossier is supported.  ExecutiveDossier is assumed, and will
					be used if no dossierType is supplied.
				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CreateDossierLinkIdResponse">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="DossierLinkList" type="tns:DossierLinkList">
        <annotation>
          <documentation>A list of Dossier links.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AttributeNameValueList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="attributeNameValue" type="tns:AttributeNameValue">
        <annotation>
          <documentation>Attribute name/value pairs</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AttributeNameValue">
    <sequence>
      <element name="attributeName" type="string">
        <annotation>
          <documentation>A Dossier attribute name.</documentation>
        </annotation>
      </element>
      <element name="value" type="string">
        <annotation>
          <documentation>The attribute value.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DossierLinkList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="dossierLink" type="tns:DossierLink">
        <annotation>
          <documentation>A Dossier link</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DossierLink">
    <sequence>
      <element name="displayName" type="string">
        <annotation>
          <documentation>The displayable name of the link.</documentation>
        </annotation>
      </element>
      <element name="key" type="string">
        <annotation>
          <documentation>The key value for the link (constant).</documentation>
        </annotation>
      </element>
      <element name="dossierLinkId" type="string">
        <annotation>
          <documentation>The Dossier link id.  Use ResolveDossierLinkId to find the results.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>