LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetAdjacentDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:scresult="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getadjacentdocument.retrieve.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getadjacentdocument.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SourceContextResult.xsd" namespace="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SearchCommon.xsd" namespace="http://common.search.services.v1.wsapi.lexisnexis.com" />
  <element name="GetAdjacentDocument" type="tns:GetAdjacentDocument">
    <annotation>
      <documentation>Allows a client to retrieve the previous or next document in the 
      source, i.e. "book style" navigation.  Note that this operation does not retrieve 
      the previous/next document in an answer set.</documentation>
    </annotation>
  </element>
  <element name="GetAdjacentDocumentResponse" type="scresult:SourceContextRetrievalResponse">
    <annotation>
      <documentation>Returns the document requested by the client.</documentation>
    </annotation>
  </element>
  <complexType name="GetAdjacentDocument">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element name="sourceContextId" type="string">
        <annotation>
          <documentation>Represents the "point of reference" document from
          which the previous or next document in the source will be taken.</documentation>
        </annotation>
      </element>
      <element name="documentSelector" type="tns:DocumentSelector">
        <annotation>
          <documentation>Select next, previous, or current document.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentFormatOptions" type="result:DocumentFormatOptions">
        <annotation>
          <documentation>Optional element that defines the particular document 
        view and markup in which documents are to be retrieved.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="DocumentSelector">
    <restriction base="string">
      <enumeration value="Next" />
      <enumeration value="Current" />
      <enumeration value="Previous" />
    </restriction>
  </simpleType>
</schema>