LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetCitationDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:citecommon="http://citator.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getcitationdocument.citator.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getcitationdocument.citator.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="CitatorCommon.xsd" namespace="http://citator.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetCitationDocument" type="tns:GetCitationDocument">
    <annotation>
      <documentation>
    Request for the client application to return one or more documents 
    corresponding to the requested legal citation.
    </documentation>
    </annotation>
  </element>
  <element name="GetCitationDocumentResponse" type="tns:GetCitationDocumentResponse">
    <annotation>
      <documentation>
    Citation document response sent to the client application.  
    </documentation>
    </annotation>
  </element>
  <complexType name="GetCitationDocument">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>
      Optional locale indicating the language of the request.
      </documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
        Security token that must be provided on all non-authentication requests.
        Example:  f4348ad8876542bc93748c89fb98a7e
        </documentation>
        </annotation>
      </element>
      <element name="citationInformation" type="tns:CitationInformation">
        <annotation>
          <documentation>
        Structure that contains elements corresponding to the identification of a legal 
        citation.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="options" type="tns:Options" />
      <element minOccurs="0" name="projectId" type="common:ProjectId">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">Research Project 001</example>
				Used for client or project identification purposes.  This 
	       		identifier will be associated with each search transaction 
	      		and will be reported on your organization's invoice.
		 </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CitationInformation">
    <sequence>
      <element minOccurs="0" name="citation" type="citecommon:Citation">
        <annotation>
          <documentation>
        Citation/country combination used to identify a legal citation.
        Mutually exclusive of the citationId element.  One or the other
        must be specified.  
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="citationId" type="string">
        <annotation>
          <documentation>
        Opaque token containing pertinent information used to identify a legal 
        citation.  Mutually exclusive of the citation element.  One or the
        other must be specified.
        </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Options">
    <sequence>
      <element minOccurs="0" name="includeFallbackDetail" type="boolean">
        <annotation>
          <documentation>
        Optional flag to indicate the inclusion in the status information of detailed 
        fallback information when a fallback condition exists.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentFormatOptions" type="result:CitationDocumentFormatOptions">
        <annotation>
          <documentation>
        Optional selectors for indicating the markup and format of the returned document(s).  
        Selecting "Dynamic" (the default option) for the document view will return a document in 
        fulltext format in the selected markup when there is only a single document in the result set 
        and will return documents in cite list format in the selected markup when the result set 
        contains multiple documents.  
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="includeShepardsSignals" type="boolean">
        <annotation>
          <documentation>Allows the retrieval of Shepard's Signals.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetCitationDocumentResponse">
    <sequence>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
	      Unique identifier that maintains all pertinent information
	      from the original search.
	      </documentation>
        </annotation>
      </element>
      <element name="documentsFound" type="result:DocumentsFound">
        <annotation>
          <documentation>
				Number of citation documents found.
				</documentation>
        </annotation>
      </element>
      <element name="documentContainerList" type="result:DocumentContainerList">
        <annotation>
          <documentation>
        List of document containers (documents and metadata).
        </documentation>
        </annotation>
      </element>
      <element name="statusInformation" type="tns:StatusInformation">
        <annotation>
          <documentation>
        Structure detailing the outcome of the request and optionally containing detailed
        fallback status information.
        </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="StatusInformation">
    <sequence>
      <element name="status" type="tns:Status">
        <annotation>
          <documentation>
        Enumeration indicating the outcome of the citation request.
        </documentation>
        </annotation>
      </element>
      <element name="fallback" type="boolean">
        <annotation>
          <documentation>
        Flag indicating the absence or presence of a "fallback" condition; i.e. the
        legal citation specified in the request references somewhere other than the 
        beginning of the well-known reference for the legal document.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fallbackDetail" type="tns:FallbackDetail">
        <annotation>
          <documentation>
        Optional structure providing detailed information regarding a fallback condition.
        Supplied only when requested (includeFallbackDetail = true).
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="reporter" type="string">
        <annotation>
          <documentation>
        Reporter string returned only when the request contains a malformed legal
        citation that contains a valid reporter (status = InvalidCiteFormatValidReporter).
        </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="Status">
    <restriction base="string">
      <enumeration value="Ok" />
      <enumeration value="OkFallback" />
      <enumeration value="OkAmbiguousTableCase" />
      <enumeration value="DocumentNotFound" />
      <enumeration value="InvalidCiteFormatValidReporter" />
    </restriction>
  </simpleType>
  <complexType name="FallbackDetail">
    <sequence>
      <element name="fallbackType" type="tns:FallbackType">
        <annotation>
          <documentation>
        Enumeration that indicates what type of fallback occurred, if any.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fallbackCitation" type="string">
        <annotation>
          <documentation>
        The citation of the document that was resolved after fallback 
        processing.  Empty unless fallback occurred.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fallbackPage" type="string">
        <annotation>
          <documentation>
        If fallback occurred to the nearest previous document or paragraph, the page 
        that was returned.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fallbackParagraph" type="string">
        <annotation>
          <documentation>
        If fallback occurred to the nearest previous document or paragraph, the paragraph 
        that was returned.
        </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fallbackAnchor" type="string">
        <annotation>
          <documentation>
        Value to be used to jump to a specified page, paragraph, or other intra-document 
        fallback reference.
        </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="FallbackType">
    <restriction base="string">
      <enumeration value="None" />
      <enumeration value="Citation" />
      <enumeration value="Page" />
      <enumeration value="Paragraph" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
</schema>