LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetCitationReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:tns="http://getcitationreport.citator.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" xmlns:citator="http://citator.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getcitationreport.citator.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="CitatorCommon.xsd" namespace="http://citator.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetCitationReport" type="tns:GetCitationReport">
    <annotation>
      <documentation>
		Request from the client to provide Citation Report(s) for a given legal citation.
		</documentation>
    </annotation>
  </element>
  <element name="GetCitationReportResponse" type="tns:GetCitationReportResponse">
    <annotation>
      <documentation>
		Response containing the Citation Report(s) sent back to the client.
		</documentation>
    </annotation>
  </element>
  <complexType name="GetCitationReport">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>
				An option locale indicating the language of the request.
				</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
				Security token that must be provided on all non-authentication
          		requests.  Example: f4348ad8876542bc93748c89fb98a7e
				</documentation>
        </annotation>
      </element>
      <element name="citation" type="citator:Citation">
        <annotation>
          <documentation>The legal citation</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentFormatOptions" type="result:CitationDocumentFormatOptions">
        <annotation>
          <documentation>
				The document format options for the Citation Reports.  Selecting "Dynamic" will
				return a document in full text format when there is only a single document in the answerset,
				and will return documents in a cite format when the answerset contains multiple documents.
				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="includeShepardsSignals" type="boolean">
        <annotation>
          <documentation>Allows the retrieval of Shepard's Signals.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="projectId" type="common:ProjectId">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">Research Project 001</example>
						Used for client or project identification purposes.  This 
	       				identifier will be associated with each search transaction 
	      				and will be reported on your organization's invoice.
		 			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetCitationReportResponse">
    <sequence>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">ef5bafbd11</example>
	              Unique identifier that maintains all pertinent information
	              from the original search.
		        </documentation>
        </annotation>
      </element>
      <element name="documentsFound" type="result:DocumentsFound">
        <annotation>
          <documentation>
				Number of documents returned by the search.
				</documentation>
        </annotation>
      </element>
      <element name="fallback" type="boolean">
        <annotation>
          <documentation>
		        Flag indicating the absence or presence of a "fallback" condition; i.e. the
		        legal citation specified in the request references somewhere other than the 
		        beginning of the well-known reference for the legal document.
		        </documentation>
        </annotation>
      </element>
      <element name="documentContainerList" type="result:DocumentContainerList">
        <annotation>
          <documentation>List of document containers holding the documents
				referenced in the citations.
				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>