LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetCourtsAndPracticeAreas.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getcourtsandpracticeareas.citator.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getcourtsandpracticeareas.citator.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetCourtsAndPracticeAreas" type="tns:GetCourtsAndPracticeAreas">
    <annotation>
      <documentation> Request from the client to get the list of COurts and Practice areas.		
			</documentation>
    </annotation>
  </element>
  <element name="GetCourtsAndPracticeAreasResponse" type="tns:GetCourtsAndPracticeAreasResponse">
    <annotation>
      <documentation>Retrieve the list of courts and list of practice 
							areas from the Cite Store.</documentation>
    </annotation>
  </element>
  <complexType name="GetCourtsAndPracticeAreas">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>Security token that must be provided on all non-authentication
                  requests.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetCourtsAndPracticeAreasResponse">
    <sequence>
      <element name="CourtList" type="tns:CourtList">
        <annotation>
          <documentation>
       				List of zero or more Courts information.  
       			    </documentation>
        </annotation>
      </element>
      <element name="PracticeAreaList" type="tns:PracticeAreaList">
        <annotation>
          <documentation>
					List of zero or more PracticeAreas information.    
       				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CourtList">
    <sequence>
      <element maxOccurs="unbounded" name="Court" type="tns:Court">
        <annotation>
          <documentation>
        		Structure containing details about the courts. 
        		</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PracticeAreaList">
    <sequence>
      <element maxOccurs="unbounded" name="PracticeArea" type="tns:PracticeArea">
        <annotation>
          <documentation>
        		 Structure containing details about the Practice Areas.
        		</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Court">
    <sequence>
      <element name="code" type="string">
        <annotation>
          <documentation>
        			The code (or abbreviation) for particular court.
        		</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>
        			The court name.
        		</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PracticeArea">
    <sequence>
      <element name="id" type="int">
        <annotation>
          <documentation>
        			The id (database key) for the practice area.        			
        		</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>
        		 	The display name for the practice area.
        		</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>