LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetSourcesByJurisdiction.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getsourcesbyjurisdiction.ldc.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getsourcesbyjurisdiction.ldc.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetSourcesByJurisdiction" type="tns:GetSourcesByJurisdiction">
    <annotation>
      <documentation>Request: Content type</documentation>
    </annotation>
  </element>
  <element name="GetSourcesByJurisdictionResponse" type="tns:GetSourcesByJurisdictionResponse">
    <annotation>
      <documentation>Response: Returns a list of entitled sources based on the content type.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetSourcesByJurisdiction">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all non-authentication
		                requests.  Example: f4348ad8876542bc93748c89fb98a7e
		            </documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="contentType" type="string">
        <annotation>
          <documentation>
						Content Type Example : Party Name Case Law</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetSourcesByJurisdictionResponse">
    <sequence>
      <element name="content" type="tns:Content">
        <annotation>
          <documentation>A Content Object</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Content">
    <sequence>
      <element name="contentType" type="string">
        <annotation>
          <documentation>
						Content Type Example : Party Name Case Law</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="jurisdictionList" type="tns:JurisdictionList">
        <annotation>
          <documentation>List of jurisdictions</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="JurisdictionList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="jurisdiction" type="tns:Jurisdiction">
        <annotation>
          <documentation>Jurisdiction</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Jurisdiction">
    <sequence>
      <element name="jurisdictionName" type="string">
        <annotation>
          <documentation>A jurisdiction name</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="sourceList" type="tns:SourceList">
        <annotation>
          <documentation>List of sources</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="source" type="tns:Source">
        <annotation>
          <documentation>A source</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Source">
    <sequence>
      <element name="sourceId" type="integer">
        <annotation>
          <documentation>Unique identifier for a standard LexisNexis source. Example: 6496</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>sourcename.  Example: All federal banks</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>