LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetSortKeys.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getsortkeys.resultsorting.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getsortkeys.resultsorting.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetSortKeys" type="tns:GetSortKeys">
    <annotation>
      <documentation>
				Analyzes the documents in the current results set to determine
				the sort keys by which they can be meaningfully sorted.
			</documentation>
    </annotation>
  </element>
  <element name="GetSortKeysResponse" type="tns:GetSortKeysResponse">
    <annotation>
      <documentation>
				The response that includes all sort keys applicable to
				the current results set.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetSortKeys">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
						Security token that must be provided on all non-authentication requests.
					</documentation>
        </annotation>
      </element>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">ef5bafbd11</example>
						Unique identifier that maintains all pertinent information
                        from the original search.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetSortKeysResponse">
    <sequence>
      <element name="sortKeyList" type="tns:SortKeyList">
        <annotation>
          <documentation>
						A list of sort key values by which the results could be sorted.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SortKeyList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="sortKey" type="tns:SortKey">
        <annotation>
          <documentation>
						A single key by which the results can be sorted.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SortKey">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>
						A readable name that describes this sort key.
					</documentation>
        </annotation>
      </element>
      <element name="sortId" type="string">
        <annotation>
          <documentation>
						Unique identifier that contains the necessary information to
						sort results using this key.  One or more sortId values can be
						used as input for SortResults.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>