LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetSearchableSegmentsV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:sourcecommon="http://common.source.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getsearchablesegmentsv2.search.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getsearchablesegmentsv2.search.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetSearchableSegmentsV2" type="tns:GetSearchableSegmentsV2">
    <annotation>
      <documentation>Allows a client to search for searchable segments.</documentation>
    </annotation>
  </element>
  <element name="GetSearchableSegmentsV2Response" type="tns:GetSearchableSegmentsV2Response">
    <annotation>
      <documentation>Includes a list searchable segments.</documentation>
    </annotation>
  </element>
  <complexType name="GetSearchableSegmentsV2">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>Optional locale indicating language of request.</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>Security token that must be provided on all non-authentication
                  requests.</documentation>
        </annotation>
      </element>
      <element name="sourceList" type="tns:SourceIdList">
        <annotation>
          <documentation>The list of sources that satisfy the search request.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceIdList">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="sourceId" type="integer">
        <annotation>
          <documentation>An identifier associated with a single LexisNexis document.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetSearchableSegmentsV2Response">
    <sequence>
      <element name="segmentList" type="tns:SegmentList">
        <annotation>
          <documentation>The list of segments requested by the client.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SegmentList">
    <sequence>
      <element maxOccurs="unbounded" name="segment" type="tns:Segment">
        <annotation>
          <documentation>
						A single segment.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Segment">
    <sequence>
      <element name="segmentName" type="string">
        <annotation>
          <documentation>
						The name of a single segment.
					</documentation>
        </annotation>
      </element>
      <element name="segmentType" type="tns:SegmentType">
        <annotation>
          <documentation>
						The type of a single segment.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SegmentType">
    <restriction base="string">
      <enumeration value="TextSegment" />
      <enumeration value="DateSegment" />
      <enumeration value="NumericSegment" />
    </restriction>
  </simpleType>
</schema>