LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/GetSignalsAndHN.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://getsignalsandhn.citatortools.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getsignalsandhn.citatortools.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetSignalsAndHN" type="tns:GetSignalsAndHN" />
  <complexType name="GetSignalsAndHN">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken" />
      <element name="AdditionalInfoIndicator" type="tns:AdditionalInfoIndicator">
        <annotation>
          <documentation>
					Type of additional information requested by the
					client
				</documentation>
        </annotation>
      </element>
      <element name="citationInfoList" type="tns:citationInfoList">
        <annotation>
          <documentation>
					It should be poplulated with either lexisRptrNo,
					year and page; or lni; or countryCode and parallel
					cites.
				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AdditionalInfoIndicator">
    <sequence>
      <element name="AllCitesAdditionalInfoIndicator" type="tns:AllCitesAdditionalInfoIndicator" />
    </sequence>
  </complexType>
  <simpleType name="AllCitesAdditionalInfoIndicator">
    <restriction base="string">
      <enumeration value="NO_ADDITIONAL_INFO" />
      <enumeration value="JURIS_AND_DATE" />
      <enumeration value="STATUTE_SIGNALS_AND_INDICATORS" />
      <enumeration value="ALL_ADDITIONAL_INFO" />
    </restriction>
  </simpleType>
  <complexType name="citationInfoList">
    <sequence>
      <element maxOccurs="unbounded" name="AllCitesCitationInfo_t" type="tns:AllCitesCitationInfo_t" />
    </sequence>
  </complexType>
  <complexType name="AllCitesCitationInfo_t">
    <sequence>
      <element minOccurs="0" name="lexisRptrNo" type="long" />
      <element minOccurs="0" name="lexisRptrYear" type="long" />
      <element minOccurs="0" name="lexisRptrPage" type="long" />
      <element minOccurs="0" name="lni" type="string" />
      <element minOccurs="0" name="countryCode" type="string" />
      <element minOccurs="0" name="parallelCites" type="string" />
    </sequence>
  </complexType>
  <element name="GetSignalsAndHNResponse" type="tns:GetSignalsAndHNResponse" />
  <complexType name="GetSignalsAndHNResponse">
    <sequence>
      <element name="linkAndSignalList" type="tns:AllCitesLinkAndSignalList" />
      <element name="citedLNHNList" type="tns:AllCitesCitedLNHNList" />
      <element name="additionalInfoList" type="tns:AllCitesAdditionalInfoList" />
      <element name="AllCitesStatuteSignalAndIndicatorInfoList" type="tns:AllCitesStatuteSignalAndIndicatorInfoList" />
    </sequence>
  </complexType>
  <complexType name="AllCitesAdditionalInfoList">
    <sequence>
      <element maxOccurs="unbounded" name="additionalInfoList" type="tns:AllCitesAdditionalInfo_t" />
    </sequence>
  </complexType>
  <complexType name="AllCitesAdditionalInfo_t">
    <sequence>
      <element name="jurisDisplay" type="string" />
      <element name="displayDate" type="string" />
    </sequence>
  </complexType>
  <complexType name="AllCitesLinkAndSignalList">
    <sequence>
      <element maxOccurs="unbounded" name="linkAndSignalList" type="tns:AllCitesLinkAndSignalInfo_t" />
    </sequence>
  </complexType>
  <complexType name="AllCitesLinkAndSignalInfo_t">
    <sequence>
      <element name="signalText" type="string" />
      <element name="retCode" type="tns:AllCitesGetLinkAndSignalRetCode" />
      <element name="signalColor" type="tns:AllCitesSignalColor" />
      <element name="shepLinkInd" type="tns:LinkIndicator" />
      <element name="toaLinkInd" type="tns:LinkIndicator" />
      <element name="sourceTypeInd" type="tns:SourceTypeIndicator" />
      <element name="transferTypeInd" type="tns:TransferTypeIndicator" />
    </sequence>
  </complexType>
  <simpleType name="AllCitesGetLinkAndSignalRetCode">
    <restriction base="string">
      <annotation>
        <documentation>
					AllCite Get Links and Signal Return Codes
				</documentation>
      </annotation>
      <enumeration value="LINK_AND_SIGNAL_SUCCESS">
        <annotation>
          <documentation>"Successfull" Codes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LINK_AND_SIGNAL_UNAMBIG_TABLE_CASE" />
      <enumeration value="LINK_AND_SIGNAL_AMBIG_TABLE_CASE">
        <annotation>
          <documentation>"Error" Codes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LINK_AND_SIGNAL_DOC_NOT_FOUND" />
      <enumeration value="LINK_AND_SIGNAL_SOURCE_NOT_RECOGNIZED" />
      <enumeration value="LINK_AND_SIGNAL_UNKNOWN_ERROR" />
    </restriction>
  </simpleType>
  <simpleType name="AllCitesSignalColor">
    <restriction base="string">
      <annotation>
        <documentation>0; No Signal</documentation>
      </annotation>
      <enumeration value="SIGNAL_NULL">
        <annotation>
          <documentation>1; proceed: good law</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_GREEN">
        <annotation>
          <documentation>
					2; caution: possible neg treatment
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_YELLOW">
        <annotation>
          <documentation>
					3; warning: caution: neg treatment
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_RED">
        <annotation>
          <documentation>
					4; questioned: validity questioned by citing refs
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_ORANGE">
        <annotation>
          <documentation>5; DO NOT USE THIS VALUE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_NOT_USED">
        <annotation>
          <documentation>6; refs w/out analysis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_LIGHT_BLUE">
        <annotation>
          <documentation>7; refs w/ analysis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_BLUE">
        <annotation>
          <documentation>8; DO NOT USE THIS VALUE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_NOT_USED2">
        <annotation>
          <documentation>9; DO NOT USE THIS VALUE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_NOT_USED3">
        <annotation>
          <documentation>10; No Signal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_NULL">
        <annotation>
          <documentation>11;proceed: good law</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_GREEN">
        <annotation>
          <documentation>
					12; caution: possible neg treatment
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_YELLOW">
        <annotation>
          <documentation>
					13; warning: caution: neg caselaw treatment for
					statute
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_RED">
        <annotation>
          <documentation>
					14; questioned: validity questioned by citing refs
				</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_ORANGE">
        <annotation>
          <documentation>15; DO NOT USE THIS VALUE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_NOT_USED4">
        <annotation>
          <documentation>16;refs w/out analysis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_LIGHT_BLUE">
        <annotation>
          <documentation>17; refs w/ analysis</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SIGNAL_STATUTE_BLUE" />
    </restriction>
  </simpleType>
  <simpleType name="LinkIndicator">
    <restriction base="string">
      <enumeration value="NO_LINK" />
      <enumeration value="YES_LINK" />
    </restriction>
  </simpleType>
  <simpleType name="SourceTypeIndicator">
    <annotation>
      <documentation>
				Source type of a full text document
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="SOURCE_TYPE_UNKNOWN" />
      <enumeration value="SOURCE_TYPE_CASELAW" />
      <enumeration value="SOURCE_TYPE_STATUTE" />
    </restriction>
  </simpleType>
  <simpleType name="TransferTypeIndicator">
    <annotation>
      <documentation>
				Transfer type of a full text document
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="TRANSFER_TYPE_NULL" />
      <enumeration value="TRANSFER_TYPE_LEXSEE" />
      <enumeration value="TRANSFER_TYPE_LEXSTAT" />
    </restriction>
  </simpleType>
  <complexType name="AllCitesCitedLNHNList">
    <sequence>
      <element maxOccurs="unbounded" name="citedLNHNList" type="tns:AllCitesCitedLNHeadnote" />
    </sequence>
  </complexType>
  <complexType name="AllCitesCitedLNHeadnote">
    <sequence>
      <element name="lnhRetCode" type="tns:AllCitesGetCitedLNHNRetCode" />
      <element name="citedLNHeadnote" type="string" />
    </sequence>
  </complexType>
  <simpleType name="AllCitesGetCitedLNHNRetCode">
    <annotation>
      <documentation>
				AllCite Get Cited LNHN Return Codes
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LNHN_SUCCESS" />
      <enumeration value="LNHN_INVALID_ASET" />
      <enumeration value="LNHN_BAD_PARM" />
      <enumeration value="LNHN_FAILED_TO_LOCATE" />
      <enumeration value="LNHN_UNKNOWN_ERROR" />
    </restriction>
  </simpleType>
  <complexType name="AllCitesStatuteSignalAndIndicatorInfoList">
    <sequence>
      <element maxOccurs="unbounded" name="statuteSignalAndIndicatorInfoList" type="tns:AllCitesStatuteSignalAndIndicatorInfo_t" />
    </sequence>
  </complexType>
  <complexType name="AllCitesStatuteSignalAndIndicatorInfo_t">
    <sequence>
      <element maxOccurs="unbounded" name="allCitesALSInfoList" type="tns:AllCitesALSInfo_t" />
      <element name="allCitesPLIIndicator" type="boolean" />
    </sequence>
  </complexType>
  <complexType name="AllCitesALSInfo_t">
    <sequence>
      <element name="citeString" type="string" />
      <element name="countryCode" type="string" />
      <element name="transferType" type="string" />
      <element name="additionalText" type="string" />
    </sequence>
  </complexType>
</schema>