LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/ListSavedSearches.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://listsavedsearches.savedsearch.services.v1.wsapi.lexisnexis.com" xmlns:savedsearch="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://listsavedsearches.savedsearch.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SavedSearchCommon.xsd" namespace="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" />
  <element name="ListSavedSearches" type="tns:ListSavedSearches">
    <annotation>
      <documentation>
				Allows a client to list the saved searches currently stored via WSAPI.
			</documentation>
    </annotation>
  </element>
  <element name="ListSavedSearchesResponse" type="tns:ListSavedSearchesResponse">
    <annotation>
      <documentation>
				Contains information about the client's saved searches.
			</documentation>
    </annotation>
  </element>
  <complexType name="ListSavedSearches">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated 
                  requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="savedSearchRange" type="tns:SavedSearchRange">
        <annotation>
          <documentation>
						The range of saved searches to retrieve.  Due to the possibility of a large number of
						saved searches, they must be retrieved in chunks of up to 50.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ListSavedSearchesResponse">
    <sequence>
      <element name="savedSearchesFound" type="integer">
        <annotation>
          <documentation>
						The number of saved searches currently stored for this ID.
					</documentation>
        </annotation>
      </element>
      <element name="savedSearchList" type="tns:SavedSearchList">
        <annotation>
          <documentation>
						A structure that contains a list of containers, each describing a single saved search.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SavedSearchList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="savedSearch" type="tns:SavedSearch">
        <annotation>
          <documentation>
						Encapsulates metadata about a single saved search.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SavedSearch">
    <sequence>
      <element name="savedSearchId" type="integer">
        <annotation>
          <documentation>
						An identifier used to refer to this particular saved search.
					</documentation>
        </annotation>
      </element>
      <element name="name" type="savedsearch:SavedSearchName">
        <annotation>
          <documentation>
						The name associated with this saved search.
					</documentation>
        </annotation>
      </element>
      <element name="saveDate" type="dateTime">
        <annotation>
          <documentation>
						The timestamp that indicates when this saved search was saved.
					</documentation>
        </annotation>
      </element>
      <element name="projectId" type="common:ProjectId">
        <annotation>
          <documentation>
						The project ID associated with this saved search.
					</documentation>
        </annotation>
      </element>
      <element name="lastExecutedDate" type="dateTime">
        <annotation>
          <documentation>
						Timestamp indicating the last time that this saved search was executed.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SavedSearchRange">
    <sequence>
      <element name="begin" type="integer">
        <annotation>
          <documentation>
						The begin index for this range.
					</documentation>
        </annotation>
      </element>
      <element name="end" type="integer">
        <annotation>
          <documentation>
						The end index for this range.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>