LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/NarrowSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://narrowsearch.search.services.v1.wsapi.lexisnexis.com" xmlns:searchcommon="http://common.search.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://narrowsearch.search.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SearchCommon.xsd" namespace="http://common.search.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="NarrowSearch" type="tns:NarrowSearch">
    <annotation>
      <documentation>
        A "NarrowSearch" request represents a search and retrieval for a 
        subset of documents within a previous result set.  Many options are 
        exposed to allow a user to customize his query.
      </documentation>
    </annotation>
  </element>
  <element name="NarrowSearchResponse" type="result:SearchResponse">
    <annotation>
      <documentation>
        The response from Narrow Search is a set of search results,   
        containing document identifiers along with documents in the
        specified or default output format.
      </documentation>
    </annotation>
  </element>
  <complexType name="NarrowSearch">
    <complexContent mixed="false">
      <extension base="common:BaseRequest">
        <sequence>
          <element name="binarySecurityToken" type="security:BinarySecurityToken">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
            Security token that must be provided on all non-authentication
            requests.
          </documentation>
            </annotation>
          </element>
          <element name="searchId" type="string">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">ef5bafbd11</example>
            Unique identifier that maintains all pertinent information
            from the original search.
          </documentation>
            </annotation>
          </element>
          <element name="query" type="string">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">cats and dogs and hamsters</example>
              Query string for the Narrow Search request, formatted in the 
              appropriate syntax for the selected search method.
          </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="searchOptions" type="searchcommon:SearchOptions">
            <annotation>
              <documentation>
            Search Options pertaining to fine-tuning the narrow search.
          </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="crosslinkFlag" type="string">
            <annotation>
              <documentation>
			Created a new element for XML Crosslink functionality. 
			To enable the cross linking functionality, the value to be passed is "Y" or "y"
		</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="retrievalOptions" type="result:RetrievalOptions">
            <annotation>
              <documentation>
            Options pertaining to the view, markup, and range of documents retrieved from 
            the result set returned from the search.
          </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>