LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/RetrieveFullTextAttributeList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://retrievefulltextattributelist.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://retrievefulltextattributelist.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="RetrieveFullTextAttributeList" type="tns:RetrieveFullTextAttributeList">
    <annotation>
      <documentation>RetrieveFullTextAttributeList request element.</documentation>
    </annotation>
  </element>
  <element name="RetrieveFullTextAttributeListResponse" type="tns:RetrieveFullTextAttributeListResponse">
    <annotation>
      <documentation>RetrieveFullTextAttributeList response element.</documentation>
    </annotation>
  </element>
  <complexType name="RetrieveFullTextAttributeList">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrieveFullTextAttributeListResponse">
    <sequence>
      <element name="fullTextAttributeList" type="tns:FullTextAttributeList">
        <annotation>
          <documentation />
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FullTextAttributeList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="attribute" type="tns:FullTextAttribute">
        <annotation>
          <documentation>A full text attribute.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FullTextAttribute">
    <sequence>
      <element name="key" type="string">
        <annotation>
          <documentation>The attribute key used in searching Company Dossier. This
						key uniquely defines the attribute but should not be displayed
						to users.</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>The attribute name that should be displayed to the user when
						identifying the attribute.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>