LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/SearchSourceDirectory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:sourcecommon="http://common.sourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://searchsourcedirectory.sourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchsourcedirectory.sourcedirectory.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SourceDirectoryCommon.xsd" namespace="http://common.sourcedirectory.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchSourceDirectory" type="tns:SearchSourceDirectory">
    <annotation>
      <documentation>
            Allows a client to search the source directory using the 
            publication name of a source. A client may search from the
            top of the source directory, or within a particular folder
            and its associated sub-folders.
         </documentation>
    </annotation>
  </element>
  <element name="SearchSourceDirectoryResponse" type="tns:SearchSourceDirectoryResponse">
    <annotation>
      <documentation>
            Includes a list of sources that match the search criteria. 
            Metadata such as the source name and source identifier
            are part of this list.
         </documentation>
    </annotation>
  </element>
  <complexType name="SearchSourceDirectory">
    <complexContent mixed="false">
      <extension base="common:BaseRequest">
        <sequence>
          <element name="binarySecurityToken" type="security:BinarySecurityToken">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
                  Security token that must be provided on all non-authentication
                  requests.
               </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="folderId" type="integer">
            <annotation>
              <documentation>
                  An identifier that is associated with a particular folder in 
                  the source directory. In order to search from the top of the 
                  directory, the folderId must be excluded.
               </documentation>
            </annotation>
          </element>
          <element name="partialSourceName" type="string">
            <annotation>
              <documentation>
                <example xmlns="http://www.w3.org/2001/XMLSchema">The New York Times</example>
                  Either the actual name of the publication or the name 
                  given to a group of publications.
               </documentation>
            </annotation>
          </element>
          <element name="includeCombinability" type="boolean">
            <annotation>
              <documentation>
             A flag indicates wheather the combinability infotmaion 
             should be returned, default to false.
          </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SearchSourceDirectoryResponse">
    <sequence>
      <element name="sourceList" type="sourcecommon:SourceList">
        <annotation>
          <documentation>
                  The list of sources that satisfy the search request.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>