LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/SearchIndexTerms.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:indexcommon="http://indexcommon.index.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://searchindexterms.index.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchindexterms.index.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="IndexCommon.xsd" namespace="http://indexcommon.index.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchIndexTerms" type="tns:SearchIndexTerms">
    <annotation>
      <documentation>Allows you to search terms that contain the query string specified.
			Each term has an associated query string that can be used in a boolean search 
			to help the user find more relevant information.</documentation>
    </annotation>
  </element>
  <element name="SearchIndexTermsResponse" type="tns:SearchIndexTermsResponse">
    <annotation>
      <documentation>Includes information about terms found in the selected taxonomy.
			</documentation>
    </annotation>
  </element>
  <complexType name="SearchIndexTerms">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all non-authentication
          requests.  Example: f4348ad8876542bc93748c89fb98a7e</documentation>
        </annotation>
      </element>
      <element name="indexTermTaxonomyIdList" type="tns:IndexTermTaxonomyIdList">
        <annotation>
          <documentation>A list of index term taxonomies to search on.
					Each taxonomy must belong to the same Locale family. (You cannot
					combine taxonomy ids found from BrowseIndexTermTaxonomyIds with
					different Locale inputs.)</documentation>
        </annotation>
      </element>
      <element name="indexQuery" type="string">
        <annotation>
          <documentation>A query to find indexing terms that contain the specified 
					text in their names.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IndexTermTaxonomyIdList">
    <sequence>
      <element maxOccurs="unbounded" name="indexTermTaxonomyId" type="string">
        <annotation>
          <documentation>An identifier that represents the taxonomy to be browsed.
					termTaxonomyIds can be retrieved through GetIndexTermTaxonomies.
					If no taxonomy is provided, all taxonomies will be searched</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchIndexTermsResponse">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="searchResultsGroup" type="tns:SearchResultsGroup">
        <annotation>
          <documentation>Zero or more groups of search results, broken down
					by the taxonomy in which each term was found.  There will be at most only one
					group if only one taxonomy was supplied, but more than one group could be
					returned if no taxonomy was supplied in the request (in which case, all
					available taxonomies were searched).  No groups will be returned if no terms
					matching the query were found.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchResultsGroup">
    <sequence>
      <element name="taxonomyId" type="string">
        <annotation>
          <documentation>The taxonomy id.</documentation>
        </annotation>
      </element>
      <element name="taxonomyName" type="string">
        <annotation>
          <documentation>The taxonomy name.</documentation>
        </annotation>
      </element>
      <element name="indexTermList" type="indexcommon:IndexTermList">
        <annotation>
          <documentation>A list of index terms found in this taxonomy.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>