LexisNexisWSKImplementationQueueProcessor/LexisNexisWSKImplementationQueueProcessor/Web References/LNWebReference/SearchExecutiveDossier.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
COPYRIGHT  2015-16
MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES
ALL RIGHTS RESERVED

PERMISSION IS GRANTED TO USE, COPY, CREATE DERIVATIVE WORKS AND REDISTRIBUTE
THIS SOFTWARE AND SUCH DERIVATIVE WORKS FOR ANY PURPOSE, SO LONG AS THE NAME
OF MICHIGAN STATE UNIVERSITY IS NOT USED IN ANY ADVERTISING OR PUBLICITY
PERTAINING TO THE USE OR DISTRIBUTION OF THIS SOFTWARE WITHOUT SPECIFIC,
WRITTEN PRIOR AUTHORIZATION.  IF THE ABOVE COPYRIGHT NOTICE OR ANY OTHER
IDENTIFICATION OF MICHIGAN STATE UNIVERSITY IS INCLUDED IN ANY COPY OF ANY
PORTION OF THIS SOFTWARE, THEN THE DISCLAIMER BELOW MUST ALSO BE INCLUDED.

THIS SOFTWARE IS PROVIDED AS IS, WITHOUT REPRESENTATION FROM MICHIGAN STATE
UNIVERSITY AS TO ITS FITNESS FOR ANY PURPOSE, AND WITHOUT WARRANTY BY
MICHIGAN STATE UNIVERSITY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
WITHOUT LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE. THE MICHIGAN STATE UNIVERSITY BOARD OF TRUSTEES SHALL
NOT BE LIABLE FOR ANY DAMAGES, INCLUDING SPECIAL, INDIRECT, INCIDENTAL, OR
CONSEQUENTIAL DAMAGES, WITH RESPECT TO ANY CLAIM ARISING OUT OF OR IN
CONNECTION WITH THE USE OF THE SOFTWARE, EVEN IF IT HAS BEEN OR IS HEREAFTER
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Written by Megan Schanz, 2015-16
(c) Michigan State University Board of Trustees
Licensed under GNU General Public License (GPL) Version 2.
-->
<schema xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:tns="http://searchexecutivedossier.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchexecutivedossier.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="../Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchExecutiveDossier" type="tns:SearchExecutiveDossier">
    <annotation>
      <documentation>Search for an executive.</documentation>
    </annotation>
  </element>
  <element name="SearchExecutiveDossierResponse" type="tns:SearchExecutiveDossierResponse">
    <annotation>
      <documentation>Returns the executives found when searching Executive Dossier.</documentation>
    </annotation>
  </element>
  <complexType name="SearchExecutiveDossier">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="query" type="string">
        <annotation>
          <documentation>A query to locate an executive.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="attributeList" type="tns:AttributeList">
        <annotation>
          <documentation>Attributes used to identify specific XML output.
					By default only company name will be returned.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="documentRange" type="result:Range">
        <annotation>
          <documentation>Defines the range of documents to be retrieved.
					By default the first 50 companies will be returned.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchExecutiveDossierResponse">
    <sequence>
      <element name="documentsFound" type="integer">
        <annotation>
          <documentation>The number of companies found that match the search criteria.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="executiveList" type="tns:ExecutiveList">
        <annotation>
          <documentation>An XML company comparison report, encoded in base64.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ExecutiveList">
    <sequence>
      <element maxOccurs="unbounded" name="executive" type="tns:Executive">
        <annotation>
          <documentation>Executive information</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Executive">
    <sequence>
      <element minOccurs="0" name="dossierId" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a executive in Executive Dossier.</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a executive in Executive Dossier.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="attributeList" type="tns:AttributeList">
        <annotation>
          <documentation>List of displayable attributes associated with the executive.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AttributeList">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="attribute" type="string">
        <annotation>
          <documentation>An attribute that designates a single XML output part.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>